.add {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: $header-font;
  color: $header-text;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  border: none;
}

.add__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.add__legend {
  margin-bottom: 32px;
}

.add__label {
  padding-left: 50px;
  margin-bottom: 27px;
  font-family: $header-font;
  color: $header-text;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .add__wrapper {
    flex-direction: row;
  }

  .add__legend {
    font-size: 36px;
    line-height: 36px;
  }

  .add__label {
    width: 40%;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $tablet-width) {
  .add__label {
    width: 20%;
  }
}
