.add {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: $header-font;
  color: $header-text;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  border: none;
}

.add__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.add__column {
  margin-bottom: 18px;
}

.add__legend {
  margin-bottom: 32px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: -20px;
    width: 100vw;
    height: 3px;
    background: $main-color;
    z-index: -1;
  }

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    right: -20px;
    width: 181px;
    height: 3px;
    background: #ffffff;
    z-index: -1;
  }
}

.add__label {
  padding: 12px 15px 12px 45px;
  font-family: $header-font;
  color: $header-text;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    display: none;
    left: 9px;
    top: 50%;
    margin-top: -3px;
    width: 12px;
    height: 21px;
    border-right: 1px solid $main-color;
    border-bottom: 1px solid $main-color;
    transform: translateY(-50%) rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border: 1px solid #d9d9d9;
  }

  &:hover::after,
  &:focus::after {
    border: 1px solid #bababa;
  }
}

@media (min-width: $tablet-width) {
  .add {
    flex-direction: row;
  }

  .add__wrapper {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  .add__column {
    width: 240px;
    margin-bottom: 50px;
    padding-right: 45px;
  }

  .add__legend {
    margin-bottom: 63px;
    font-size: 36px;
    line-height: 36px;

    &::before {
      left: -70px;
    }

    &::after {
      right: -40px;
      width: 290px;
    }
  }

  .add__label {
    margin-bottom: 32px;
    padding-left: 62px;
    font-size: 20px;
    line-height: 20px;

    &::before {
      left: 15px;
    }

    &::after {
      width: 40px;
      height: 40px;
    }
  }
}

@media (min-width: $desktop-width) {
  .add {
    flex-direction: column;
  }

  .add__column {
    margin-bottom: 62px;
    padding-right: 5px;
  }

  .add__legend {
    width: 17.1%;

    &::before {
      left: -40px;
    }
  }
}
