.comment {
  display: flex;
  font-family: $header-font;
  color: $header-text;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  border: none;
}

.comment__legend {
  margin-bottom: 31px;
}

.comment__textarea {
  width: 100%;
  padding: 10px;
  font-family: $header-font;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}
