.comment {
  display: flex;
  font-family: $header-font;
  color: $header-text;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  border: none;
}

.comment__legend {
  margin-bottom: 31px;
}

.comment__textarea {
  width: 100%;
  padding: 10px;
  font-family: $header-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .comment__legend {
    font-size: 36px;
    line-height: 36px;
  }

  .comment__textarea {
    font-size: 20px;
    line-height: 20px;
  }
}
