.contact {
  width: 100%;
  position: relative;
  font-family: $header-font;
  color: $header-text;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  border: none;

  &::before {
    content: "";
    z-index: -1;
    width: 100%;
    height: 3px;
    position: absolute;
    top: 6%;
    left: 0;
    background-color: $main-color;
  }
}

.contact__wrapper {
  max-width: 320px;
  margin: 0 auto;
}

.contact__legend {
  width: 181px;
  max-width: max-content;
  margin-bottom: 30px;
  padding: 0 20px;
  background-color: $main-background;
}

.contact__row {
  padding: 0 20px;
}

.contact__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
  font-family: $header-font;
  color: $header-text;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}

.contact__text {
  flex-grow: 0;
  flex-shrink: 0;
}

.contact__input {
  width: 100%;
  flex-grow: 1;
  margin-left: 10px;
  padding: 13px 45px 13px 15px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: $desc-text;
  border: 1px solid $border-color;
  overflow: auto;
  height: 18px;

  &::placeholder {
    color: $desc-text;
  }

  &--mail {
    background: url("../../../img/icon-mail.svg") no-repeat 93% 53%;
    background-size: 18px 20px;
  }

  &--tel {
    background: url("../../../img/icon-phone.svg") no-repeat 93% 53%;
    background-size: 18px 20px;
  }

  &:hover {
    border: 1px solid #bababa;
  }

  &--tel:active,
  &--tel:focus {
    background: url("../../../img/icon-phone-active.svg") no-repeat 93% 53%;
    background-size: 18px 20px;
    outline: 2px solid #444444;
  }

  &--mail:active,
  &--mail:focus {
    background: url("../../../img/icon-mail-active.svg") no-repeat 93% 53%;
    background-size: 18px 20px;
    outline: 2px solid #444444;
  }

  &--tel:focus:invalid {
    background: url("../../../img/icon-phone-error.svg") no-repeat 93% 53%;
    background-size: 18px 20px;
    outline: 2px solid #ff8282;
  }

  &--mail:focus:invalid {
    background: url("../../../img/icon-mail-error.svg") no-repeat 93% 53%;
    background-size: 18px 20px;
    outline: 2px solid #ff8282;
  }
}

@media (min-width: $tablet-width) {
  .contact {
    &::before {
      top: 9.5%;
    }
  }

  .contact__wrapper {
    max-width: 768px;
  }

  .contact__legend {
    width: auto;
    margin-left: 33px;
    margin-bottom: 75px;
    padding: 0 36px;
    font-size: 36px;
    line-height: 36px;

    &::before {
      top: 50%;
      left: -70px;
    }

    &::after {
      top: 50%;
      left: -39px;
      width: 590px;
    }
  }

  .contact__row {
    padding: 0 70px;
  }

  .contact__label {
    min-width: 570px;
    margin-bottom: 21px;
    font-size: 20px;
    line-height: 20px;
  }

  .contact__input {
    font-size: 20px;
    line-height: 20px;
    margin-left: 19px;
    padding: 10px 60px 10px 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 20px;

    &--mail {
      background: url("../../../img/icon-mail.svg") no-repeat 97% 53%;
      background-size: 18px 20px;
    }

    &--tel {
      margin-left: 13px;
      background: url("../../../img/icon-phone.svg") no-repeat 97% 53%;
      background-size: 18px 20px;
    }

    &--mail:active,
    &--mail:focus {
      background-position: 97% 53%;
    }

    &--tel:focus:invalid {
      background-position: 97% 53%;
    }

    &--mail:focus:invalid {
      background-position: 97% 53%;
    }
  }
}

@media (min-width: $desktop-width) {
  .contact {
    &::before {
      top: 13%;
    }
  }

  .contact__wrapper {
    max-width: 1300px;
  }

  .contact__row {
    display: flex;
    padding: 0 40px;
  }

  .contact__label {
    &:first-child {
      padding-right: 78px;
    }
  }

  .contact__input {
    padding-top: 15px;
    padding-bottom: 15px;
    background-position: 96% 53%;
  }

  .contact__legend {
    margin-left: 0;
    padding: 0 40px;
  }
}
