.form {
  display: flex;
  flex-direction: column;
}

.form__header {
  @include clear-indents;
  margin-top: 17px;
  margin-bottom: 25px;
  font-family: $header-font;
  color: $header-text;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
}

.form__desc {
  @include clear-indents;
  margin-right: 40px;
  margin-bottom: 39px;
  font-family: $header-font;
  color: $header-text;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__main-info {
  @include clear-indents;
  margin-bottom: 9px;
}

.form__selection {
  @include clear-indents;
  margin: 0 -20px;
  margin-bottom: 31px;
  padding: 26px 19px;
}

.form__contact {
  @include clear-indents;
  margin-bottom: 13px;
}

.form__comment {
  @include clear-indents;
  margin-bottom: 28px;
}

.form__add {
  @include clear-indents;
  margin-bottom: 20px;
}

.form__btn {
  @include clear-btn;
  padding: 11px;
  margin-bottom: 19px;
  width: 100%;
  font-family: $header-font;
  font-size: 16px;
  line-height: 20px;
  background-color: $main-color;
  color: $alt-text;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: $hover-btn;
  }

  &:active {
    color: rgba($alt-text, 0.3);
  }
}

.form__legend {
  @include clear-indents;
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}

input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
  &::before {
    display: block;
  }
}

input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .form {
    width: $tablet-width;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form__header {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    margin-left: -40px;
    margin-bottom: 56px;
  }

  .form__desc {
    font-size: 20px;
    line-height: 30px;
    margin-right: 45%;
    margin-bottom: 65px;
  }

  .form__main {
    width: 100%;
  }

  .form__wrapper {
    width: 89%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 72px;
  }

  .form__main-info {
    margin-bottom: 50px;
  }

  .form__selection {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 76px;
    padding: 35px 25px;
  }

  .form__contact {
    margin-bottom: 48px;
  }

  .form__comment {
    margin-bottom: 66px;
  }

  .form__add {
    margin-bottom: 9px;
  }

  .form__btn {
    margin-bottom: 0;
    padding: 17px 7px;
    font-size: 20px;
  }

  .form__legend {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    width: 100%;
  }

  .form__header {
    margin-left: 0;
    margin-top: 18px;
  }

  .form__desc {
    margin-right: 70%;
  }

  .form__main {
    width: 100%;
  }

  .form__column {
    display: flex;
    justify-content: space-between;
  }

  .form__main-info {
    width: 569px;
    margin-bottom: 46px;
  }

  .form__selection {
    margin-bottom: 46px;
  }

  .form__contact {
    margin-bottom: 51px;
  }

  .form__wrapper {
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 80px;
  }

  .form__btn {
    width: 568px;
  }

  .form__legend {
    width: 250px;
    margin-left: 47px;
  }
}
