.form {
  display: flex;
  flex-direction: column;
}

.form__header {
  @include clear-indents;
  width: 280px;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 24px;
  font-family: $header-font;
  color: $header-text;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
}

.form__desc-wrapper {
  max-width: 320px;
  width: 280px;
  margin: 0 auto;
}

.form__desc {
  @include clear-indents;
  margin: 0 auto;
  margin-right: 40px;
  margin-bottom: 39px;
  font-family: $header-font;
  color: $header-text;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__main-info {
  @include clear-indents;
  padding: 0 20px;
  margin-bottom: 9px;
}

.form__selection {
  @include clear-indents;
  margin-bottom: 30px;
  padding: 26px 19px;
}

.form__column {
  max-width: 320px;
  margin: 0 auto;
}

.form__send {
  max-width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.form__contact {
  @include clear-indents;
  margin-bottom: 16px;
}

.form__comment {
  @include clear-indents;
  margin-bottom: 25px;
}

.form__add {
  @include clear-indents;
  margin-bottom: 23px;
}

.form__btn {
  @include clear-btn;
  padding: 11px;
  margin-bottom: 19px;
  width: 100%;
  font-family: $header-font;
  font-size: 16px;
  line-height: 20px;
  background-color: $main-color;
  color: $alt-text;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: $hover-btn;
  }

  &:active {
    color: rgba($alt-text, 0.3);
  }
}

.form__legend {
  @include clear-indents;
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}

input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
  &::before {
    display: block;
  }
}

input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {
  opacity: 0.3;
}

input[type="number"] {
  appearance: textfield;
}

@media (min-width: $tablet-width) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form__header {
    max-width: 708px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 56px;
    font-size: 60px;
    line-height: 60px;
  }

  .form__desc-wrapper {
    max-width: 768px;
    width: 100%;
  }

  .form__desc {
    @include clear-indents;
    width: 350px;
    padding: 0 70px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 65px;
  }

  .form__main {
    width: 100%;
  }

  .form__column {
    max-width: 628px;
  }

  .form__send {
    max-width: 628px;
    padding: 0 70px;
  }

  .form__send-inline {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 72px;
  }

  .form__main-info {
    padding: 0;
    margin-bottom: 50px;
  }

  .form__selection {
    margin: 0 auto;
    margin-bottom: 76px;
  }

  .form__contact {
    margin-bottom: 48px;
  }

  .form__comment {
    margin-bottom: 64px;
  }

  .form__add {
    margin-bottom: 11px;
  }

  .form__btn {
    width: 283px;
    margin-bottom: 0;
    padding: 17px 7px;
    font-size: 20px;
  }

  .form__legend {
    width: 250px;
    margin-left: 27px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .form__header {
    max-width: 1220px;
    margin: 0 auto;
    margin-top: 18px;
    margin-bottom: 57px;
  }

  .form__desc-wrapper {
    min-width: 1300px;
    padding: 0;
    margin-bottom: 65px;
  }

  .form__desc {
    @include clear-indents;
    max-width: 768px;
    padding: 0 40px;
  }

  .form__main {
    width: 100%;
  }

  .form__column {
    max-width: 1220px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 40px;
  }

  .form__send {
    max-width: 1220px;
    padding: 0 40px;
  }

  .form__send-inline {
    margin-bottom: 80px;
  }

  .form__main-info {
    width: 569px;
    margin-bottom: 47px;
  }

  .form__selection {
    margin-bottom: 46px;
  }

  .form__contact {
    margin-bottom: 50px;
  }

  .form__btn {
    width: 568px;
  }

  .form__legend {
    margin-left: 47px;
  }
}
