.map__container {
  width: 100%;
  min-height: 362px;
  max-height: 400px;
  overflow: hidden;
}

@media (min-width: $desktop-width) {
  .map {
    overflow: hidden;
  }

  .map__container {
    height: 400px;
    padding-left: 55%;
  }
}
