.nav-toggle {
  @include clear-btn;
  @include clear-indents;
  width: 19px;
  height: 19px;
  background: url("../img/icon-close.svg") no-repeat center;
  transition: 0.3s;

  &--open {
    width: 25px;
    background: url("../img/icon-open.svg") no-repeat center;
    transition: 0.3s;
  }

  &--no-js {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .nav-toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .nav-toggle {
    display: none;
  }
}
