.page-header {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

.page-header__logo {
  @include clear_indents;
  display: block;
  padding: 11px 20px;

  &[hfef] {
    cursor: pointer;
  }

  &[href]:hover,
  &[href]:focus {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }

  &--index-logo {
    &:hover,
    &:focus {
      opacity: 1;
    }

    &:active {
      opacity: 1;
    }
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    width: $tablet-width;
    margin: 0 auto;
    flex-direction: row;
  }

  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 24px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 52px;
    border: none;
  }

  .page-header__logo {
    @include clear_indents;
    flex-shrink: 0;
  }

  .page-header__logo-image {
    width: 174px;
    height: 59px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: $desktop-width;
  }

  .page-header__wrapper {
    padding: 54px 40px 52px;
  }

  .page-header__navigation {
    margin-left: auto;
  }

  .page-header__logo-image {
    width: 203px;
    height: 60px;
  }
}
