.page-footer {
  width: 320px;
  margin: 0 auto;
  background-color: $alt-background;
}

.page-footer__collaboration {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  padding: 20px 28px;
  box-sizing: border-box;

  &--background-toggle {
    background-color: $main-background;
  }
}

.page-footer__container {
  display: flex;
  flex-direction: column;
}

.map__container {
  width: 100%;
  height: auto;
}

.page-footer__logo {
  display: block;
  width: 128px;
  height: 24px;
  margin: 35px auto;
}

.page-footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 22px;
  padding: 0;
}

.page-footer__copyright {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .page-footer {
    width: $tablet-width;
  }

  .page-footer__container {
    flex-direction: row;
    width: 84.723%;
    margin: 0 auto;
    padding: 25px 0;
  }

  .page-footer__logo {
    width: 33%;
    text-align: center;
  }

  .page-footer__social {
    width: 33%;
  }

  .page-footer__collaboration {
    &--background-toggle {
      background-color: $main-background;
    }
  }

  .page-footer__copyright {
    width: 33%;
    justify-content: center;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    position: relative;
    width: 100%;
  }

  .page-footer__collaboration {
    position: absolute;
    top: 25%;
    left: 10%;
    width: 570px;
    padding: 69px 76px;
    z-index: 1;
  }

  .page-footer__logo {
    text-align: left;
  }

  .page-footer__copyright {
    justify-content: flex-end;
    margin: 20px 0;
  }
}
