.page-footer {
  width: 100%;
  margin: 0 auto;
  background-color: $alt-background;
}

.page-footer__container {
  max-width: $mobile-width;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.map__container {
  width: 100%;
  height: auto;
}

.page-footer__logo {
  display: block;
  width: 128px;
  height: 24px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;
}

.page-footer__social {
  @include clear-indents;
  width: 100%;
  margin: 0 -6px;
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    max-width: $tablet-width;
    flex-direction: row;
    align-items: center;
    padding: 55px 30px;
    padding-top: 85px;
    padding-right: 6px;
  }

  .page-footer__logo {
    @include clear-indents;
    width: 33%;
    text-align: start;

    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  .page-footer__social {
    width: 33%;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    position: relative;
    width: 100%;
  }

  .page-footer__container {
    max-width: $desktop-width;
    padding: 35px 40px;
    padding-right: 8px;
  }

  .page-footer__copyright {
    justify-content: flex-end;
    margin: 20px 0;
  }
}
