.page-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
}

.page-main__promo {
  margin: 0 20px;
  margin-bottom: 21px;
}

.page-main__programs {
  display: flex;
  flex-direction: column;
  margin: auto 20px;
  margin-bottom: 17px;
}

.page-main__manual {
  margin: 0 20px;
  margin-bottom: 22px;
}

.page-main__example {
  display: flex;
  flex-direction: column;
}

.page-main__catalog {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.page-main__form {
  margin: 0 20px;
}

@media (min-width: $tablet-width) {
  .page-main {
    flex-direction: row;
    justify-content: center;
  }

  .page-main__promo {
    position: relative;
    align-items: flex-start;
    margin: 0 30px;
    padding-right: 20%;
    padding-left: 90px;
    padding-bottom: 529px;
  }

  .page-main__programs {
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto 30px;
  }

  .page-main__manual {
    padding: 0 30px;
    margin: 0;
    margin-bottom: 43px;
    border-bottom: 1px solid $border-color;
  }

  .page-main__form {
    margin: 0 70px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__promo {
    position: static;
    margin-top: 53px;
    margin-bottom: 268px;
    margin-right: 55.5%;
    margin-left: 9.2%;
    padding: 0;
  }

  .page-main__programs {
    @include clear-indents;
    justify-content: space-between;
    flex-direction: row;
    margin: auto -40px;
    margin-bottom: 58px;
  }

  .page-main__manual {
    margin: 0 40px;
    padding: 0;
    border: none;
  }

  .page-main__form {
    margin: 0 40px;
  }
}
