.page-main__promo {
  margin-bottom: 197px;
}

.page-main__programs {
  margin: 0 auto;
  margin-bottom: 16px;
}

.page-main__manual {
  margin: 0 auto;
  margin-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .page-main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .page-main__promo {
    padding-bottom: 506px;
    margin-bottom: 0;
    z-index: 1;
  }

  .page-main__programs {
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 18px;
  }

  .page-main__manual {
    margin-bottom: 43px;
    border-bottom: 1px solid $border-color;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    position: relative;
  }

  .page-main__promo {
    margin-top: 53px;
    margin-bottom: 268px;
    padding: 0;
  }

  .page-main__programs {
    @include clear-indents;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 58px;
  }

  .page-main__manual {
    margin-bottom: 0;
    padding: 0;
    border: none;
  }
}
