.page-footer {
  width: 100%;
  margin: 0 auto;
  background-color: $alt-background;
}

.page-footer__collaboration {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  padding: 29px 20px 25px 20px;
  box-sizing: border-box;

  &--background-toggle {
    background-color: $main-background;
  }
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 20px;
}

.map__container {
  width: 100%;
  height: auto;
}

.page-footer__logo {
  display: block;
  width: 128px;
  height: 24px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;
}

.page-footer__social {
  @include clear-indents;
  width: 100%;
  margin: 0 -6px;
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    @include clear-indents;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    padding: 55px 30px;
    padding-top: 85px;
    padding-right: 6px;
  }

  .page-footer__logo {
    @include clear-indents;
    width: 33%;
    text-align: start;

    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  .page-footer__social {
    width: 33%;
  }

  .page-footer__collaboration {
    padding: 65px 70px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    position: relative;
    width: 100%;
  }

  .page-footer__container {
    padding: 35px 40px;
    padding-right: 8px;
  }

  .page-footer__collaboration {
    position: absolute;
    top: 17.1%;
    left: 3.3%;
    width: 570px;
    padding: 65px 85px 61px 74px;
    z-index: 1;
    background-color: $main-background;
  }

  .page-footer__copyright {
    justify-content: flex-end;
    margin: 20px 0;
  }
}
