.social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.social__item {
  @include clear-list;
  margin: 0 20px;
  cursor: pointer;
}

.social__image {
  fill: #666666;

  &--vk {
    width: 22px;
    height: 12px;
  }

  &--ig {
    width: 17px;
    height: 17px;
  }

  &--fb {
    width: 10px;
    height: 19px;
  }

  &:hover,
  &:focus {
    fill: $main-color;
    transition: 0.2s;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social {
    padding: 0;
    border: none;
  }

  .social__item {
    margin: 0 4px;
    padding-right: 20px;
  }

  .social__image {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--ig {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}
