body {
  @include clear-indents;
  min-width: 320px;
  max-width: $desktop-width;
  margin: 0 auto;
  font-family: $desc-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  font-style: normal;
  vertical-align: baseline;
  color: $desc-text;
  background-color: $main-background;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
