/* Цвета */

$main-color: #68b738;
$header-text: #111111;
$desc-text: #444444;
$alt-text: #ffffff;
$main-background: #ffffff;
$alt-background: #f2f2f2;
$border-color: #ebebeb;
$hover-btn: #5eaa2f;

/* Шрифты */

$header-font: "Oswald-regular", "Arial", sans-serif;
$desc-font: "Arial", sans-serif;
