.desc-product__header {
  @include clear-indents;
  width: 60%;
  margin-bottom: 15px;
  font-family: $header-font;
  color: $header-text;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  &:active {
    color: rgba($header-text, 0.3);
  }
}

.desc-product__link {
  @include clear-link;
}

.desc-product__specification {
  width: 100%;
  font-size: 12px;
  line-height: 16px;
}

.desc-product__cell {
  float: left;

  &--right {
    float: right;
  }
}

@media (min-width: $tablet-width) {
  .desc-product__header {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .desc-product__specification {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 19.9%;
  }

  .desc-product__line {
    border-bottom: 1px solid #cdcdcd;
  }

  .desc-product__cell {
    padding: 5px 0;
  }
}
