.product-card {
  display: flex;
  justify-content: center;
}

.product-card__image {
  width: 140px;
  height: 144px;
  align-self: center;
  flex-grow: 0;
}

.product-card__desc {
  width: 50%;
  padding: 24px 0;
}

@media (min-width: $tablet-width) {
  .product-card {
    flex-wrap: wrap;
    background: linear-gradient(to top, #f2f2f2 85%, #ffffff 15%);
  }

  .product-card__desc {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .product-card__desc {
    margin: 0 16%;
  }
}
