.product-card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card__link {
  @include clear-indents;
  flex: 50%;
  max-width: 50%;
  flex-grow: 0;
  align-self: center;
  margin-bottom: -4px;
}

.product-card__desc {
  flex: 50%;
  max-width: 50%;
}

@media (min-width: $tablet-width) {
  .product-card {
    background-color: $alt-background;
  }

  .product-card__wrapper {
    padding: 40px 10px;
  }

  .product-card__desc {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .product-card__link {
    display: flex;
    flex-direction: column-reverse;
    flex: 100%;
    max-width: inherit;
    min-height: 213px;
    margin: -120px -40px 0;
    margin-bottom: 31px;
  }
}

@media (min-width: $desktop-width) {
  .product-card__wrapper {
    padding: 40px 38px;
  }
}
