.example {
  background-color: $alt-background;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.example__header {
  @include clear-indents;
  margin: 33px 20px;
  font-family: $header-font;
  font-weight: 400;
  font-size: 36px;
  color: $header-text;
  line-height: 60px;
}

.example__desc {
  @include clear-indents;
  margin: 0 20px;
  margin-bottom: 25px;
}

.example__story {
  margin: 0 20px;
}

.example__progress {
  width: 100%;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .example {
    background: linear-gradient(to top, $alt-background 50%, $main-background 50%);
  }

  .example__header {
    font-size: 60px;
    line-height: 60px;
  }

  .example__desc {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    background: linear-gradient(to top, $alt-background 50%, $main-background 50%);
  }
}
