.example {
  width: 100%;
  background-color: $alt-background;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.example__column {
  max-width: 100%;
  margin: 0 20px;
}

.example__header {
  @include clear-indents;
  margin-bottom: 23px;
  padding-top: 17px;
  font-family: $header-font;
  font-weight: 400;
  font-size: 36px;
  color: $header-text;
  line-height: 60px;
}

.example__desc {
  @include clear-indents;
  max-width: 270px;
  margin-bottom: 24px;
}

.example__progress {
  width: 100%;
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .example {
    background: linear-gradient(to top, #f2f2f2 44.5%, #ffffff 30%);
  }

  .example__header {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 66px;
    padding-top: 0;
  }

  .example__desc {
    max-width: 720px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 53px;
    padding-right: 20px;
  }

  .example__column {
    margin: 0 30px;
    margin-bottom: 31px;
  }

  .example__progress {
    margin-bottom: 70px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    flex-direction: row;
    background: linear-gradient(to top, #f2f2f2 69.2%, #ffffff 30%);
  }

  .example__column {
    max-width: 37%;
    margin-left: 40px;
    margin-bottom: 0;
  }

  .example__header {
    padding-top: 71px;
    margin-bottom: 147px;
  }

  .example__desc {
    max-width: 965px;
    margin-bottom: 69px;
    padding-right: 45px;
  }

  .example__progress {
    margin-top: 45px;
  }
}
