.manual {
  padding: 0 30px;
}

.manual__list {
  @include clear-list;
  display: flex;
  flex-direction: column;
  margin-top: 28px;
}

.manual__header {
  @include clear-indents;
  font-family: $header-font;
  color: $header-text;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
}

.manual__item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.manual__ico {
  display: block;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  margin-right: 20px;
  background-color: $main-color;

  &--leaf-ico {
    background: $main-color url("../img/advantage-leaf@1x.png") no-repeat center;
  }

  &--powder-ico {
    background: $main-color url("../img/advantage-powder@1x.png") no-repeat center;
  }

  &--dining-ico {
    background: $main-color url("../img/advantage-dining@1x.png") no-repeat center;
  }

  &--clock-ico {
    background: $main-color url("../img/advantage-clock@1x.png") no-repeat center;
  }
}

@media (min-width: $tablet-width) {
  .manual {
    padding: 0 30px;
  }

  .manual__list {
    @include clear-list;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    counter-reset: list;
  }

  .manual__item {
    max-width: 245px;
    min-height: 170px;
    display: block;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-bottom: 133px;
    margin-right: 133px;
    font-size: 16px;
    line-height: 24px;

    &::after {
      position: absolute;
      top: -20%;
      right: 0;
      counter-increment: list;
      content: "" counter(list);
      z-index: -1;
      font-size: 278px;
      line-height: 1;
      color: $alt-background;
      font-family: $header-font;
    }

    &--leaf::after {
      right: 16px;
    }
  }

  .manual__ico {
    width: 80px;
    height: 80px;
    margin-bottom: 33px;
  }

  .manual__header {
    @include clear-indents;
    font-size: 60px;
    line-height: 60px;
    padding-top: 47px;
    margin-bottom: 70px;
  }
}

@media (min-width: $desktop-width) {
  .manual {
    padding: 0 40px;
  }

  .manual__header {
    padding-top: 17px;
  }

  .manual__item {
    margin-right: 0;
    margin-bottom: 55px;
  }
}
