.program {
  background-color: $alt-background;
}

.program__header {
  @include clear-indents;
  position: relative;
  padding: 29px 20px 29px 0;
  padding-left: 92px;
  font-family: $header-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  color: $header-text;
  text-transform: uppercase;

  &::before {
    position: absolute;
    top: 23%;
    left: 8%;
    content: "";
    width: 50px;
    height: 51px;
    border-radius: 50%;
    background-color: $main-color;
  }

  &::after {
    position: absolute;
    content: "";
  }

  &--slim-cat::after {
    top: 23%;
    left: 11%;
    width: 35px;
    height: 49px;
    background: url("/img/icon-cat-slim.svg") no-repeat;
  }

  &--power-cat::after {
    top: 37%;
    left: 5%;
    width: 67px;
    height: 28px;
    background: url("/img/icon-cat-pro.svg") no-repeat;
  }
}

.program__desc {
  @include clear-indents;
  margin: 0 21px 42px;
}

.program__link {
  @include clear-link;
  position: relative;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 22px;
  font-family: $header-font;
  font-size: 16px;
  line-height: 16px;
  color: $header-text;
  text-transform: uppercase;

  &:hover .program__arrow,
  &:focus .program__arrow {
    width: 34px;
    transition: 0.3s;
    background: url("/img/icon-right-arrow-verylong.svg") no-repeat;
  }
}

.program__arrow {
  position: absolute;
  top: 20%;
  margin-left: 15px;
  width: 25px;
  height: 12px;
  content: "";
  background: url("/img/icon-right-arrow-long.svg") no-repeat;
}

@media (min-width: $tablet-width) {
  .program__header {
    width: 52.7%;
    margin: 81px auto 26px 50px;
    padding: 0;
    font-size: 36px;
    line-height: 37px;

    &::before {
      left: 117%;
      width: 200px;
      height: 200px;
    }

    &--slim-cat::after {
      top: -30%;
      left: 124%;
      width: 141px;
      height: 194px;
    }

    &--power-cat::after {
      top: 150%;
      left: 105%;
      width: 268px;
      height: 113px;
    }
  }

  .program__desc {
    width: 52.7%;
    margin: 0 auto 60px 50px;
    font-size: 16px;
    line-height: 24px;
  }

  .program__link {
    width: 52.7%;
    margin: 0 auto 60px 50px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .program__header {
    width: 570px;
    margin: 81px auto 75px 210px;
    padding: 0;
    font-size: 36px;
    line-height: 37px;

    &::before {
      top: -100%;
      left: -30%;
      width: 100px;
      height: 100px;
    }

    &--slim-cat::after {
      top: -130%;
      left: -25%;
      width: 71px;
      height: 97px;
    }

    &--power-cat::after {
      top: -10%;
      left: -35%;
      width: 134px;
      height: 57px;
    }
  }

  .program__desc {
    width: 462px;
  }
}
