.promo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__background {
  position: absolute;
  width: 100%;
  height: 305px;
  background: $main-color url("/img/index-background-mobile@1x.jpg") no-repeat top;
  z-index: -1;
}

.promo__header {
  @include clear-indents;
  width: 100%;
  padding: 27px 0 19px;
  padding-bottom: 24px;
  margin: 0 auto;
  font-family: $header-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: $alt-text;
}

.promo__desc {
  @include clear-indents;
  padding-bottom: 29px;
  font-family: $header-font;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: $alt-text;
}

.promo__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 3px;
}

.promo__select-link {
  align-self: center;
}

@media (min-width: $tablet-width) {
  .promo__background {
    display: none;
  }

  .promo__image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 709px;
    height: 609px;
    z-index: -1;
  }

  .promo__header {
    @include clear-indents;
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    text-align: left;
    color: $header-text;
    margin-bottom: 42px;
  }

  .promo__desc {
    @include clear-indents;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: $header-text;
    margin-bottom: 48px;
  }

  .promo__select-link {
    justify-content: flex-start;
    align-self: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    align-items: flex-start;
  }

  .promo__image {
    top: -29px;
    left: 231px;
    width: 552px;
    height: 499px;
    z-index: 0;
  }

  .promo__header {
    width: 100%;
  }

  .promo__background {
    display: block;
    top: -170px;
    right: 0;
    width: 50%;
    min-height: 696px;
    background: #68b738 url("../img/index-background-desktop@1x.jpg") no-repeat;
  }

  .promo__desc {
    margin-bottom: 51px;
  }
}
