.promo {
  width: 100%;
  height: 305px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-color: $main-color;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
  position: relative;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.promo__container {
  max-width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.promo__header {
  @include clear-indents;
  width: 100%;
  padding: 27px 0 19px;
  padding-bottom: 24px;
  margin: 0 auto;
  font-family: $header-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: $alt-text;
}

.promo__desc {
  @include clear-indents;
  padding-bottom: 29px;
  font-family: $header-font;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: $alt-text;
}

.promo__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 3px;
}

.promo__select-link {
  align-self: center;
}

@media (min-width: $tablet-width) {
  .promo {
    background-image: none;
    background-color: $main-background;
  }

  .promo__wrapper {
    max-width: 768px;
    margin: 0 auto;
  }

  .promo__container {
    max-width: 768px;
    width: 450px;
    margin: 0 30px;
    padding-right: 90px;
    padding-left: 90px;
  }

  .promo__image {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 4px;
    width: 709px;
    height: 609px;
    z-index: -1;
  }

  .promo__header {
    @include clear-indents;
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    text-align: left;
    color: $header-text;
    margin-bottom: 42px;
  }

  .promo__desc {
    @include clear-indents;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: $header-text;
    margin-bottom: 48px;
  }

  .promo__select-link {
    justify-content: flex-start;
    align-self: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    height: 285px;
    background: transparent;
  }

  .promo__wrapper {
    max-width: 1300px;
    margin: 0 auto;
  }

  .promo__container {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .promo__image {
    top: -82px;
    left: 230px;
    right: 0;
    width: 552px;
    height: 499px;
    z-index: 0;
  }

  .promo__header {
    width: 100%;
  }

  .promo__desc {
    margin-bottom: 51px;
  }
}
