.select-link {
  @include clear-indents;
}

.select-link__link {
  @include clear-link;
  display: inline-block;
  width: 245px;
  padding: 14px 0;
  font-family: $header-font;
  color: $alt-text;
  text-transform: uppercase;
  text-align: center;
  background-color: $main-color;

  &:hover,
  &:focus {
    background-color: $hover-btn;
    transition: 0.2s;
  }

  &:active {
    color: rgba($alt-text, 0.3);
  }
}
